{# Search and Filter Bar Template - Semantic HTML Base #}
<div class="search-container">
    <div class="search-wrapper">
        <div class="search-input-wrapper">
            <input 
                type="text" 
                id="search-input" 
                placeholder="Search publications..." 
                class="search-input"
            >
            <div class="search-icon">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <p class="search-help-text">
            Search by title, author, venue, or year
        </p>
    </div>
</div>
